.titulo-secao{
margin:30px;
font-size:28px;
}

.lista-produtos{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
padding:30px;
}

.produto-card{
background:white;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
overflow:hidden;
transition:0.3s;
}

.produto-card:hover{
transform:scale(1.05);
}

.produto-img{
text-align:center;
padding:20px;
}

.produto-img img{
width:180px;
height:180px;
object-fit:contain;
}

.produto-info{
padding:15px;
}

.descricao{
font-size:14px;
color:#666;
}

.preco{
font-size:20px;
font-weight:bold;
color:#2d6cdf;
margin-top:10px;
}

.quantidade{
font-size:13px;
color:#888;
}

.btn-comprar{
margin-top:10px;
background:#ffc107;
border:none;
padding:10px;
width:100%;
border-radius:6px;
cursor:pointer;
font-weight:bold;
}

.btn-comprar:hover{
background:#ffb300;
}
.banner{
height:300px;
background:linear-gradient(90deg,#6a00ff,#a300ff);
display:flex;
align-items:center;
justify-content:center;
color:white;
text-align:center;
}

.banner-texto h1{
font-size:40px;
margin-bottom:10px;
}

.banner-texto p{
font-size:18px;
margin-bottom:20px;
}

.banner-texto input{
padding:12px;
width:300px;
border:none;
border-radius:5px;
margin-right:10px;
}

.banner-texto button{
padding:12px 20px;
background:#ffc107;
border:none;
border-radius:5px;
cursor:pointer;
font-weight:bold;
}