.titulo-secao{
margin:30px;
font-size:28px;
}

.lista-produtos{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
padding:30px;
}

.produto-card{
background:white;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
overflow:hidden;
transition:0.3s;
}

.produto-card:hover{
transform:scale(1.05);
}

.produto-img{
text-align:center;
padding:20px;
}

.produto-img img{
width:180px;
height:180px;
object-fit:contain;
}

.produto-info{
padding:15px;
}

.descricao{
font-size:14px;
color:#666;
}

.preco{
font-size:20px;
font-weight:bold;
color:#2d6cdf;
margin-top:10px;
}

.quantidade{
font-size:13px;
color:#888;
}

.btn-comprar{
margin-top:10px;
background:#2d6cdf;
border:none;
padding:10px;
width:100%;
border-radius:6px;
cursor:pointer;
font-weight:bold;
color:white;
}

.btn-comprar:hover{
background:#1e4fb8;
}
.banner{
width:95%;
height:320px;
margin:auto;
margin-top:20px;
margin-bottom:40px;
background-image:url("/static/img/baner.png");
background-size:cover;
background-position:center;
border-radius:10px;
}