/* container principal */

.login-container{
display:flex;
align-items:center;
justify-content:space-between;
padding:60px;
min-height:80vh;
}

/* imagem grande do produto */

.login-produto-grande{
width:60%;
display:flex;
justify-content:center;
}

.login-produto-grande img{
max-width:900px;
width:100%;
height:auto;
object-fit:contain;
}

/* formulário */

.login-form{
width:30%;
background:white;
padding:40px;
border-radius:10px;
box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

/* título */

.login-form h2{
margin-bottom:20px;
}

/* inputs */

.login-form input{
width:100%;
padding:10px;
margin-bottom:15px;
border-radius:6px;
border:1px solid #ccc;
}

/* botão */

.login-form button{
width:100%;
padding:10px;
background:#2d6cdf;
color:white;
border:none;
border-radius:6px;
font-weight:bold;
cursor:pointer;
}

.login-form button:hover{
background:#1f4fb3;
}
.login-titulo{
font-size:40px;
font-weight:bold;
max-width:500px;
margin-bottom:30px;
color:#333;
}

.login-titulo span{
color:#2d6cdf;
}
.registro-titulo{
font-size:40px;
font-weight:bold;
max-width:500px;
margin-bottom:30px;
color:#333;
}
.registro-titulo span{
color:#FFD700;
}
