body.dark{
background:#2b2d31;
color:white;
}

body.dark .header{
background:#1e1f22;
}

body.dark .menu a{
color:#e3e3e3;
}

body.dark .menu a:hover{
color:white;
}

body.dark .form-card{
background:#1e1f22;
}

body.dark input{
background:#2b2d31;
color:white;
border:1px solid #444;
}