body{
font-family: Arial;
background:#f4f4f4;
margin:0;
}

.header{
background:#222;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

.menu a{
color:white;
margin-right:15px;
text-decoration:none;
}

.page-center{
display:flex;
justify-content:center;
margin-top:60px;
}

.form-card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

input{
padding:8px;
width:200px;
}

input[type="submit"]{
background:#2ecc71;
color:white;
border:none;
cursor:pointer;
}