/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 30px;   /* ↓ menos altura */
    background: #fff;
    border-bottom: 1px solid #eee;
}


/* Logo */
.logo {
    font-size: 22px;
    font-weight: bold;
    color: #2b59ff;
}

/* Caixa dos links */
.menu {
    display: flex;
    gap: 10px;
    background: #f2f4f7;
    padding: 6px;
    border-radius: 30px; /* deixa tudo arredondado */
}

/* Links */
.menu a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    border-radius: 20px; /* arredonda cada link */
    font-size: 14px;
}

/* Efeito ao passar o mouse */
.menu a:hover {
    background: #2b59ff;
    color: white;
}
.logo-img {
    height: 70px;   /* tamanho ideal para header */
    width: auto;    /* mantém proporção */
    border-radius: 20px
}
/* Fundo da página */
body {
    background: white;
}

/* Centraliza tudo */
.page-center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
display:flex;
align-items:center;
justify-content:space-between;
padding:10px 30px;
background:#ffffff;
border-bottom:1px solid #eee;
}

/* menu */
.menu{
display:flex;
gap:15px;
}

.menu a{
text-decoration:none;
color:#333;
font-weight:500;
}

/* botão dark */

.theme-btn{
background:#f0f2f5;
border:none;
padding:8px 12px;
border-radius:8px;
cursor:pointer;
font-size:16px;
}