/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 30px;   /* ↓ menos altura */
    background: #fff;
    border-bottom: 1px solid #eee;
}


/* Logo */
.logo {
    font-size: 22px;
    font-weight: bold;
    color: #2b59ff;
}

/* Caixa dos links */
.menu {
    display: flex;
    gap: 10px;
    background: #f2f4f7;
    padding: 6px;
    border-radius: 30px; /* deixa tudo arredondado */
}

/* Links */
.menu a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    border-radius: 20px; /* arredonda cada link */
    font-size: 14px;
}

/* Efeito ao passar o mouse */
.menu a:hover {
    background: #2b59ff;
    color: white;
}
.logo-img {
    height: 70px;   /* tamanho ideal para header */
    width: auto;    /* mantém proporção */
    border-radius: 20px
}
/* Fundo da página */
body {
    background: white;
}

/* Centraliza tudo */
.page-center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card do formulário */
.form-card {
    background: #e9ecf1; /* um pouco mais escuro que a página */
    padding: 30px;
    width: 100%;
    max-width: 380px;

    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* Título */
.form-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Formulário */
.form-card form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Inputs */
.form-card input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Botão */
.form-card button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #2b59ff;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.form-card button:hover {
    background: #1f45d6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.container {
    display: flex;
    background: #2b59ff;
    width: 240px;
    height: 100vh;
}



/* HEADER */
.header {
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* garante que fica acima da barra */
    display: flex;
    align-items: center;
    padding: 0 20px;
}


.logo-img {
    height: 40px;
}

.menu {
    margin-left: auto;
}

.menu .btn {
    text-decoration: none;
    margin-left: 15px;
    padding: 8px 14px;
    border-radius: 20px;
    color: #333;
    background: #f0f2f5;
}