*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#ffffff;
color:#333;
transition:0.3s;
}

/* HEADER */

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#f5f5f5;
}

/* MENU */

.menu a{
margin:0 10px;
text-decoration:none;
color:#333;
font-weight:bold;
}

/* BOTÃO TEMA */

.theme-toggle{
padding:8px 12px;
border:none;
border-radius:6px;
cursor:pointer;
background:#ddd;
}

/* CONTAINER */

.container{
padding:30px;
}

/* FORM */

.form-card{
background:#f5f5f5;
padding:20px;
border-radius:10px;
width:300px;
}

/* MODO ESCURO */

.dark{
background:#2b2d31;
color:white;
}

.dark .header{
background:#1e1f22;
}

.dark .menu a{
color:white;
}

.dark .form-card{
background:#1e1f22;
}

.dark .theme-toggle{
background:#444;
color:white;
}