{% extends "base.html" %}

{% block content %}

<header class="header">

<nav class="menu">
<a href="{{ url_for('login.login') }}">Login</a>
<a href="{{ url_for('registrar.registrar') }}" class="btn">registrar</a>
<a href="{{ url_for('compras.compras') }}" class="btn">produtos a venda</a>
<a href="{{ url_for('registrar.registrar_produtos') }}" class="btn">registre seus produtos</a>
</nav>

<button class="theme-toggle" onclick="toggleTheme()">🌙</button>

<div class="logo">
<img src="{{ url_for('static', filename='logo.jpg') }}" class="logo-img">
</div>

</header>

<h1>Minha loja</h1>

{% endblock %}