
{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block content %}

<div class="login-container">
    <div class="login-produto-grande">

<h1 class="login-titulo">
Encontre os melhores <span>produtos</span> em um só lugar.
</h1>

<img src="{{ url_for('static', filename='img/fone.png') }}">

</div>


<div class="login-form">

<h2>Faça seu login</h2>

<form method="POST">

<label>Nome</label>
<input type="text" name="nomeForm">

<label>Senha</label>
<input type="password" name="senhaForm">

<button type="submit">Entrar</button>

</form>

</div>

</div>


{% endblock %}