{% extends "base.html" %}

{% block content %}

<h1>esses sao os produtos que estao a venda</h1>

        <label class="barra-pesquisa">Pesquisar</label>
        <input class="barra-pesquisa input" type="text">
    </div>
</div>

<div class="lista-produtos">
{% for produto in produtos %}
   <div class="produto-card">

        <h3>{{ produto.nome }}</h3>
        <p>{{ produto.descricao }}</p>
        <p>Preço: R$ {{ produto.preco }}</p>
        <p>Quantidade: {{ produto.quantidade }}</p>
        {% if produto.imagem %}
               <img src="{{ produto.imagem }}">
            {% endfor %}
    </div>

{% endblock %}