{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='compras.css') }}">
<div class="banner"></div>

<div class="lista-produtos">

{% for produto in produtos %}

<div class="produto-card">

<div class="produto-img">
<img src="{{ produto.imagem }}" width="200">
</div>

<div class="produto-info">
<h3>{{produto.nome}}</h3>

<p class="descricao">{{produto.descricao}}</p>

<p class="preco">R$ {{produto.preco}}</p>

<p class="quantidade">Estoque: {{produto.quantidade}}</p>

<button class="btn-comprar">Comprar</button>
</div>

</div>

{% endfor %}

</div>

{% endblock %}