
{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block content %}

<div class="login-container">
    <div class="login-produto-grande">

<h1 class="login-titulo">
Seu próximo produto <span>favorito</span> está aqui .
</h1>

<img src="{{ url_for('static', filename='img/smartwatch.jpg') }}">

</div>


<div class="login-form">

<h2>crie sua conta</h2>

<form method="POST">

<label>Nome</label>
<input type="text" name="nomeForm">

<label>Senha</label>
<input type="password" name="senhaForm">

<button type="submit">enviar</button>

</form>

</div>

</div>


{% endblock %}